<div class="container text-center">
<h3 class="mt-5">プロフィールを編集</h3>
<div class="mt-5"><%= image_tag @user.get_profile_image(200, 200), class: "rounded-circle" %></div>
<%= form_with model: @user do |f| %>
    
    <h6 class="col-lg-6"><%= f.file_field :profile_image, placeholder: "プロフィール画像を変更", accept: "image/*" %></h6>
    <label for="inputName">ユーザーネーム</label>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
    <label for="sailNo">セールナンバー</label>
    <%= f.text_field :sail_no, autofocus: true, id:"sailNo", placeholder:"セールナンバー" %>
    <label for="gerende">ゲレンデ</label>
    <%= f.text_field :gerende, autofocus: true, id:"gerende", placeholder:"ゲレンデ" %>
    <div>
        <%= f.submit "変更を保存",class: 'btn btn-secondary' %>
    </div>
<% end %>
</div>