<h1>出艇編集</h1>
<div>
    <%= form_with model: @departure do |f| %>
        <%= f.hidden_field :date %>
        <h4><%= @departure.date %></h4>
        <h4><%= current_user.name %></h4>
        <h4>開始時間</h4>
        <%= f.time_select :start_time  %>
    
        <h4>終了時間</h4>
        <%= f.time_select :end_time %>
    
        <h4>コメント</h4>
        <%= f.text_area :comment %>
    
        <%= f.submit "登録" %>
        <% end %>
</div>